<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/form.css">
</head>
<body>

    <nav class="navbar">
        <img class="logo" src="images/logo1.png" alt="" srcset="">
        <ul class="menu-items">
            <li><a class="menu-toggle" href="#">&#9776; Menu</a></li>
            <li><a href="#">Inicio</a></li>
            <li><a href="/products">Productos</a></li>
            <li><a href="#">Acerca de</a></li>
            <li><a href="#">Contacto</a></li>  
        </ul>
    </nav>

    <main>
        <ul>
            <% products.forEach(product => { %>
                <h2><%= product.product_name %></h2>

                <p>Artista: 
                    <% artists.forEach(artist => { %>
                        <% if (product.artist_fk == artist.id_artist) { %>
                            <%= artist.name %>
                        <% } %>
                    <% }); %>    
                </p>

                <p>Pais: <%= product.country %></p>
                <p>Precio: <%= product.price %></p>
                
                <form action="/product/detail/<%= product.id_product %>" method="POST">
                    <label for="detail"></label>
                    <button id="<%= product.id_product %>" type="submit" name="detail">Ver Detallado</button>
                </form>

            <% }); %>

        </ul>

    </main>

    <footer class="footer">
        <ul>
            <li><a href="#">Enlace 1</a></li>
            <li><a href="#">Enlace 2</a></li>
            <li><a href="#">Enlace 3</a></li>
            <li><a href="#">Enlace 4</a></li>
        </ul>
    </footer>
   
    
</body>
</html>