<!DOCTYPE html>
<html lang="en">

<%- include ('./partials/header') %>

<body>
    <main>
        <ul>
            <% products.forEach(product => { %>
                <h2><%= product.product_name %></h2>

                <p>Artista: 
                    <% artists.forEach(artist => { %>
                        <% if (product.artist_fk == artist.id_artist) { %>
                            <%= artist.name %>
                        <% } %>
                    <% }); %>    
                </p>

                <p>Pais: <%= product.country %></p>
                <p>Precio: <%= product.price %></p>
                
                <form action="/product/detail/<%= product.id_product %>" method="GET">
                    <label for="detail"></label>
                    <button id="<%= product.id_product %>" type="submit" name="detail">Ver Detallado</button>
                </form>

            <% }); %>

        </ul>

    </main>

    <%- include ('./partials/footer') %>
   
</body>
</html>