<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
</head>
    <body>
        <div>
            <h1>Listado de Productos Disponibles</h1>
            <ul>
                <% products.forEach(product => { %>
                    <p> <%= product.product_name %> <%= product.country %> <%= product.product_format %> </p>           
                
                    <form action="/product/detail/<%= product.id_product %>" method="GET">
                        <label for="detail"></label>
                        <button id="<%= product.id_product %>" type="submit" name="detail">Ver Detallado</button>
                    </form>

                    <form action="/product/edit/<%= product.id_product %>" method="GET">
                        <label for="update"></label>
                        <button id="<%= product.id_product %>" type="submit" name="update">Modificar</button>
                    </form>
                    
                    <form action="/product/delete/<%= product.id_product %>" method="GET">
                        <label for="delete"></label>
                        <button id="<%= product.id_product %>" type="submit" name="delete">Borrar</button>
                    </form>

                <% }); %>
            </ul>

            <a href="/product/add">Agregar Nuevo Producto</a>

        </div>
    </body>
</html>