<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/header') %>
    
    <body>  
        <div>
            <h1>Listado de Productos Disponibles</h1>

            <a href="/product/add">Agregar Nuevo Producto</a>
            
            <ul>
                <% products.forEach(product => { %>
                    <p> <%= product.product_name %> <%= product.country %> <%= product.product_format %> </p>           
                
                    <form action="/product/detail/<%= product.id_product %>" method="GET">
                        <label for="detail"></label>
                        <button id="<%= product.id_product %>" type="submit" name="detail">Ver Detallado</button>
                    </form>

                    <form action="/product/edit/<%= product.id_product %>" method="GET">
                        <label for="update"></label>
                        <button id="<%= product.id_product %>" type="submit" name="update">Modificar</button>
                    </form>
                    
                    <form action="/product/delete/<%= product.id_product %>" method="GET">
                        <label for="delete"></label>
                        <button id="<%= product.id_product %>" type="submit" name="delete">Borrar</button>
                    </form>

                <% }); %>
            </ul>

        </div>

        <%- include ('./partials/footer') %>
    </body>
</html>